<html lang="fr">
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>.EXE - MEMBRES</title>
</head>

<body>

    <header id="navbar">

        <nav>

            <ul>

                <li>
                    <a id="scred " href="/views/membres.html ">Membres</a>
                </li>

                <li>
                    <a href="/index.html "><img src="/public/img/logo_min.svg " alt=" "></a>
                </li>
                <li>
                    <a id="scred" href="/views/projet.html ">Projets</a>
                </li>
                <li>
                    <button id="pop"><i class="fas fa-bars "></i></button>
                </li>


            </ul>
            <div class="back ">


            </div>
        </nav>
    </header>
    <main id="swup " class="transition-fade ">
        <div class="__main ">


            <div class="member__band ">
                <h1>TEAM BDE</h1>
            </div>

            <div class="member ">

                <div class="member__card ">

                    <img src="/public/img/portrait/anais.png " alt=" ">
                    <a data-no-blobity href="https://mmi21e11.mmi-troyes.fr ">
                        <span><h1>Presidente</h1><br><p>@anais.martor</p></span> </a>
                </div>


                <div class="member__card ">

                    <img src="/public/img/portrait/robin.png " alt=" ">



                    <a data-no-blobity href="https://mmi21h07.mmi-troyes.fr ">
                        <span><h1>Vice-president</h1><br><p>@robin.lanfranchi</p></span>
                    </a>
                </div>

                <div class="member__card ">

                    <img src="/public/img/portrait/sam.png " alt=" ">
                    <a data-no-blobity href="https://mmi21c10.mmi-troyes.fr ">
                        <span><h1>Secretaire</h1><br><p>@samuel.jarry</p></span>
                    </a>





                </div>

                <div class="member__card ">

                    <img src="/public/img/portrait/antoine.png " alt=" ">
                    <a data-no-blobity href="https://mmi21f11.mmi-troyes.fr ">

                        <span><h1>Communicant</h1><br><p>@antoine.lauzis</p></span>


                    </a>

                </div>
                <div class="member__card ">


                    <img src="/public/img/portrait/deodat.png " alt=" ">


                    <a data-no-blobity href="https://mmi21e13.mmi-troyes.fr ">
                        <span><h1>Graphiste</h1><p>@milla.paves</p></span>

                    </a>

                </div>
                <div class="member__card ">


                    <img src="/public/img/portrait/mae.png " alt=" ">
                    <a data-no-blobity href="https://mmi21e15.mmi-troyes.fr ">

                        <span><h1>Graphiste</h1><p>@mae.rossi</p></span>



                    </a>
                </div>
                <div class="member__card ">


                    <img src="/public/img/portrait/alban.png " alt=" ">

                    <a data-no-blobity href="https://mmi21h03.mmi-troyes.fr ">
                        <span><h1>Tresorier</h1><br><p>@alban.de-waubert</p></span>

                    </a>

                </div>
                <div class="member__card ">


                    <img src="/public/img/portrait/alban.png " alt=" ">

                    <a data-no-blobity href="https://mmi21h03.mmi-troyes.fr ">
                        <span><h1>Comumnicant</h1><br><p>@paco.garcia</p></span>

                    </a>

                </div>

            </div>
            <div class="member__band ">
                <h1>TEAM HELPER</h1>
            </div>
            <div class="member ">


                <div class="member__card ">


                    <img src="/public/img/portrait/baptiste.png " alt=" ">

                    <a data-no-blobity href="https://mmi21d03.mmi-troyes.fr ">
                        <span><h1>Developpeur</h1><br><p>@baptiste.bussiere</p></span>
                    </a>
                </div>
                <div class="member__card ">


                    <img src="/public/img/portrait/alban.png " alt=" ">

                    <a data-no-blobity href="https://mmi21d10.mmi-troyes.fr ">
                        <span><h1>Developpeur</h1><br><p>@evan.gruchot</p></span>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="mailto:contact@bde-exe.fr ">Contactez-nous !</a>
                </li>
                <li>
                    <a href="mailto:contact@baptiste-bussiere.fr ">Problème lié au site ?</a>
                </li>
                <li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfoXdBr62TUEShI9kuNV0wTJMWt91NvShJ42NnYQxbTzFFcPw/viewform?usp=sf_link ">Proposez une idée</a>
                </li>

            </ul>
        </nav>
        <span><a href="https://workpage.baptiste-bussiere.fr ">Baptiste B.</a></span>
    </footer>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js "></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js "></script>
    <script src="../public/js/script.js "></script>
    <script src="../public/js/blo.js "></script>
    <script src="https://kit.fontawesome.com/b28bfc0ccb.js " crossorigin="anonymous "></script>
    <script>
        const blobity = new Blobity({
            zIndex: "20 ",
            focusableElementsOffsetX: "5 ",
            magnetic: "true ",
            focusableElementsOffsetY: "5 ",
            font: "courier ",
            fontWeight: "400 ",
            color: " 'rgb(3, 255, 176)' "
        });
    </script>
</body>


</html>