<html lang="fr">
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/style.css">
    <title>.EXE - PROJETS</title>
</head>

<body id="bod">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <header>
        <nav>
            <ul data-blobity-magnetic="false" id="responsive__menu">
                <li>
                    <button data-blobity-magnetic="false" class="nav__cross" id="unPop"><i class="fas fa-times"></i></button>
                </li>
                <li>
                    <button data-blobity-magnetic="false" class="nav__menu" id="unPop" onclick="window.location.href='/views/projet.html'">Projets</button>
                </li>
                <li>
                    <button data-blobity-magnetic="false" class="nav__menu" id="unPop" onclick="window.location.href='/views/membres.html'">Membres</button>
                </li>
            </ul>
            <ul>

                <li>
                    <a id="scred" href="/views/membres.html">Membres</a>
                </li>

                <li>
                    <a href="/views/index.html"><img src="/public/img/logo_min.svg" alt=""></a>
                </li>
                <li>
                    <a id="scred" href="/views/projet.html">Projets</a>
                </li>
                <li>
                    <button id="pop"><i data-blobity-magnetic="false" class="fas fa-bars"></i></button>
                </li>


            </ul>
        </nav>
    </header>
    <main id="swup" class="transition-fade">
        <div class="__main">
            <div class="container">

                <div class="container__row__card">
                    <img src="/public/img/prom.jpg" alt="">
                    <div class="card__text">
                        <h1>BAL DE PROMO <span id="blue">.soirée</span></h1>
                        <p class="hide__text__1">
                            Notre plus grand projet est celui d’organiser un bal de promotion avec l’argent qu’on aura récolté tout au long de l’année. L’objectif est de passer un bon moment de fin d’année.
                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/melt.jpg" alt="">
                    <div class="card__text">
                        <h1>SOIRÉES MELTDOWN <span id="blue">.soirée</span></h1>
                        <p class="hide__text__2">
                            Des soirées seront organisées au Meltdown, un bar eSport où l’on peut prendre un verre, jouer sur les consoles en libre accès ou encore se détendre devant un stream.


                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/lol.jpg" alt="">
                    <div class="card__text">
                        <h1>TOURNOIS LOL <span id="green">.gaming</span></h1>
                        <p class="hide__text__3">
                            Un ou plusieurs tournois League Of Legends pourront être organisés pour les passionnés du célèbre MOBA. Il suffira de former des équipes de 5 et d'être les meilleurs.

                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/shirt.jpg" alt="">
                    <div class="card__text">
                        <h1>VENTE DE TEE-SHIRTS <span id="orange">.vente</span></h1>
                        <p class="hide__text__4">
                            Nous avons pour projet de créer un design et de l’imprimer sur des tee-shirts. Ces tee-shirts seront ensuite vendus dans l’objectif de récolter des fonds.


                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/blindtest.jpg" alt="">
                    <div class="card__text">
                        <h1>SOIRÉES BLIND TEST <span id="blue">.soirée</span></h1>
                        <p class="hide__text__5">
                            Des soirées Blindtest seront organisées avec des thèmes divers et variés tels que : les animés, les films, les séries, les jeux vidéo et les musiques des différentes générations. </p>
                    </div>
                </div>
                <div class="container__row__card">
                    <img src="/public/img/valorant.jpg" alt="">
                    <div class="card__text">
                        <h1>TOURNOIS VALORANT <span id="green">.gaming</span></h1>
                        <p class="hide__text__6">
                            Un ou plusieurs tournois Valorant pourront être organisés pour les passionnés de ce FPS. Il suffira de former des équipes de 5.

                        </p>
                    </div>
                </div>
                <div class="container__row__card">
                    <img src="/public/img/crepe.jpg" alt="">
                    <div class="card__text">
                        <h1>STAND DE CREPES<span id="orange">.vente</span></h1>
                        <p class="hide__text__7">
                            Pour collecter des fonds pour nos projets, nous souhaitons tenir un stand de crêpes pendant certains événements.

                        </p>
                    </div>
                </div>
                <div class="container__row__card">
                    <img src="/public/img/jeux-de-societe.jpg" alt="">
                    <div class="card__text">
                        <h1>SOIRÉES JEUX DE SOCIÉTÉ <span id="blue">.soirée</span></h1>
                        <p class="hide__text__8">
                            Des soirées jeux de société seront organisées avec des jeux divers et variés.

                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/smash.jpg" alt="">
                    <div class="card__text">
                        <h1>TOURNOIS SUPER SMASH BROS <span id="green">.gaming</span></h1>
                        <p class="hide__text__9">
                            Un ou plusieurs tournois Super Smash Bros Ultimate pourront être organisés.

                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/guidemmi.jpg" alt="">
                    <div class="card__text">
                        <h1>GUIDE DU MMI <span id="purple">.mmi</span></h1>
                        <p class="hide__text__10">
                            Nous aimerions faire un projet commun avec tous les étudiants de la formation : rédiger un guide du MMI pour les prochaines promotions. Ainsi, on leur donnerait un coup de pouce avec des tips et des liens vers des sites utiles.
                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/escape_game.jpg" alt="">
                    <div class="card__text">
                        <h1>ESCAPE GAME <span id="yellow">.activité</span></h1>
                        <p class="hide__text__11">
                            Des sorties Escape Game pourront être organisées dans la ville de Troyes.

                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/minecraft.jpg" alt="">
                    <div class="card__text">
                        <h1>SERVEUR MINECRAFT <span id="green">.gaming</span></h1>
                        <p class="hide__text__12">
                            Nous prévoyons de créer un serveur Minecraft avec une survie et nous organiserons des soirées avec des mini-jeux.

                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/sports.jpg" alt="">
                    <div class="card__text">
                        <h1>EVENEMENT SPORTIF <span id="yellow">.activité</span></h1>
                        <p class="hide__text__13">
                            Nous émettons la possibilité de faire un événement sportif. Nous attendons vos propositions ;).

                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/picnic.jpg" alt="">
                    <div class="card__text">
                        <h1>PIQUE-NIQUE <span id="yellow">.activité</span></h1>
                        <p class="hide__text__14">
                            Nous souhaitons organiser des pique-niques où chacun apporterait quelque chose et on passerait un moment convivial.
                        </p>
                    </div>
                </div>

                <div class="container__row__card">
                    <img src="/public/img/clash.jpg" alt="">
                    <div class="card__text">
                        <h1>CLAN CLASH ROYAL & CLASH OF CLANS <span id="green">.gaming</span></h1>
                        <p class="hide__text__15">
                            Nous prévoyons de créer des clans sur Clash Royale et Clash of Clans pour réunir une communauté de beaux gosses.

                        </p>
                    </div>

                </div>




            </div>





        </div>
    </main>
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="mailto:contact@bde-exe.fr">Contactez-nous !</a>
                </li>
                <li>
                    <a href="mailto:contact@baptiste-bussiere.fr">Problème lié au site ?</a>
                </li>
                <li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfoXdBr62TUEShI9kuNV0wTJMWt91NvShJ42NnYQxbTzFFcPw/viewform?usp=sf_link">Proposez une idée</a>
                </li>

            </ul>
        </nav>
        <span><a href="https://workpage.baptiste-bussiere.fr">Baptiste B.</a></span>
    </footer>


    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script src="https://cdn.blobity.dev/by.js?licenseKey=E5B78DAF-656D417F-B59418EB-C1CD156B"></script>
    <script src="/public/js/script.js"></script>
    <script src="https://kit.fontawesome.com/b28bfc0ccb.js" crossorigin="anonymous"></script>


</body>


</html>